# Dependencies & Environments
node_modules/
.pnp
.pnp.js
.venv/
venv/
ENV/
*.pyc
__pycache__/
.pytest_cache/

# Production & Build outputs
.next/
out/
vercel.json

# Local Configurations & Secrets
.env
.env.local
.env.production.local
.env.development.local
.env.*.local

# Databases & Cache (Since you have a /db folder)
*.db
*.sqlite
.turbo/

# OS Specific Files
.DS_Store
Thumbs.db
